body {
  font-family: 'Outfit', sans-serif;
  background-color: #d5e1ef;
}

.QR-card {
  cursor: pointer;
  width: 20%;
}

.attribution {
  font-size: 0.75rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  font-weight: bold;
}
.attribution a:hover {
  color: hsl(7, 68%, 52%);
}

@media (max-width: 1024px) {
  .QR-card {
    width: 30%;
  }
}
@media (max-width: 768px) {
  .QR-card {
    width: 35%;
  }
}
@media (max-width: 425px) {
  .QR-card {
    width: 60%;
  }
}
@media (max-width: 375px) {
  .QR-card {
    width: 70%;
  }
}
